body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}
a {
  color: transparent;
}
.spacing-containers {
  background-color: #755b4b;
  width: 400px;
  height: 4px;
  margin: 0 auto;
}

.title-container {
  color: #755b4b;
}

.c-item {
  height: 700px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.navbar {
  margin: 5px 70px;
  border-radius: 8px;
  background-color: transparent;
}

.btn-outline-secondary:hover {
  color: white !important;
  background-color: black !important;
  border-color: black !important;
}

.modal-body p {
  font-size: 14px;
}

.nav-link.text-secondary:hover,
.nav-link.text-secondary.active {
  position: relative;
  color: black !important;
  font-weight: bolder;
}

.btn-outline-secondary:hover {
  color: white !important;
  background-color: black !important;
  border-color: black !important;
}

.navbar-toggler {
  border: none;
  padding: 0;
  margin: 0;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  color: black;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Empresas parceiras */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: transparent;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 217px;
  height: 100%;
  content: '';
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 100s slide infinite linear;
  margin: 20px 0 0 0;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
  cursor: pointer;
}

.logos-slide img.ginomoto_logo {
  height: 25px;
}

/* CARDS DESTAQUES */
.container {
  max-width: 90%;
  width: 100%;
}
.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
  background: #404040;
}
.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  max-width: 200px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.9s;
}

.container .slider-scrollbar {
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}

.card-img {
  position: relative; /* Adiciona posição relativa para elementos filhos usarem como referência */
  max-width: 100%;
  height: 400px;
}

.card-text {
  position: absolute;
  top: 0;
  left: 0%;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  width: 100%;
  max-width: 300px;
  height: 300px;
  opacity: 0; /* Torna o texto invisível inicialmente */
  transition: opacity 0.8s; /* Adiciona uma transição suave */
  cursor: pointer;
}

.card-img:hover .card-text {
  opacity: 1; /* Torna o texto visível quando o mouse passa sobre o card-img */
}

.card-img .card-text h2 {
  color: #755b4b;
}

.card-img .card-text p {
  color: #555e5e;
}

/* FOOTER */
footer {
  background: #101010;
  padding: 86px 0;
}
.single-content {
  text-align: center;
  padding: 115px 0;
}
.single-box p {
  color: #fff;
  line-height: 1.9;
}
.single-box h3 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.single-box .card-area i {
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
}
.single-box ul {
  list-style: none;
  padding: 0;
}
.single-box ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 2.5;
  font-weight: 100;
}
.single-box h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
#basic-addon2 {
  background: #fe1e4f;
  color: #fff;
}
.socials i {
  font-size: 18px;
  margin-right: 15px;
}
@media (max-width: 767px) {
  .single-box {
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .single-box {
    margin-bottom: 50px;
  }
}

.social-area svg {
  color: white;
  margin: 0 5px;
}

.section-movie {
}

.event-movie {
  margin: 0 auto;
}
.container video {
  width: 100vw;
}
/*  */
